name: ESLint

on: pull_request

jobs:
  lint_pull_request:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: borales/actions-yarn@v2.0.0
        with:
          cmd: install # will run `yarn install` command
      - uses: borales/actions-yarn@v2.0.0
        with:
          cmd: start # will run `yarn build` command
      - uses: borales/actions-yarn@v2.0.0
        with:
          cmd: lint:action # will run `yarn test` command

