name: Platform select

on:
  push:
    branches:
      - actions

jobs:
  shared:
    name: Build and test shared
    runs-on: ubuntu-latest
    if: "contains(github.event.head_commit.message, 'shared')"
    steps:
      - run: echo 'you got to shared'

  shared-web:
    name: Build and test shared-web
    runs-on: ubuntu-latest
    if: "contains(github.event.head_commit.message, '-web')"
    steps:
      - run: echo 'you got to shared-web'

  mobile:
    name: Build and test mobile
    runs-on: ubuntu-latest
    if: "contains(github.event.head_commit.message, 'mobile')"
    steps:
      - run: echo 'you got to mobile'

  resident:
    name: Build and test resident
    runs-on: ubuntu-latest
    if: "contains(github.event.head_commit.message, 'resident')"
    steps:
      - run: echo 'you got to resident'

  manager:
    name: Build and test manager
    runs-on: ubuntu-latest
    if: "contains(github.event.head_commit.message, 'manager')"
    steps:
      - run: echo 'you got to manager'

  all:
    name: Build and test all
    runs-on: ubuntu-latest
    if: "|
    contains(github.event.head_commit.message, 'web') ||
    contains(github.event.head_commit.message, 'manager')"
    steps:
      - run: echo 'you got to manager'
