name: Platform select

on:
  push:
    branches:
      - actions

jobs:
  Build-Test:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'

      # Cache node_modules for faster CI runs if the yarn.lock doesn't change change
      - name: Get yarn cache directory path
        id: yarn-cache-dir
        run: echo 'cache yarn'

      - name: Restore yarn cache
        run: echo 'restore cache'
        id: yarn-cache

      # Throw an error if the yarn.lock file doesn't match the installed dependencies (rather than updating it in-place, which it does by default locally)
      - name: Install
        run: echo 'installed'

      - name: Test shared-web
        if: |
          contains(github.event.head_commit.message, 'web') ||
          contains(github.event.head_commit.message, 'shared') ||
          contains(github.event.head_commit.message, 'manager')
        run: echo 'test shared-web'

      - name: Test manager-web
        # if: "contains(github.event.head_commit.message, 'manager')"
        if: |
          contains(github.event.head_commit.message, 'other') ||
          contains(github.event.head_commit.message, 'shared') ||
          contains(github.event.head_commit.message, 'monorepo') ||
          contains(github.event.head_commit.message, 'manager')
        run: echo 'test manager-web'

      # after the test run completes
      # store videos and any screenshots
      # NOTE: screenshots will be generated only if E2E test failed
      # thus we store screenshots only on failures
      # Alternative: create and commit an empty cypress/screenshots folder
      # to always have something to upload
      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          run: echo 'failed'
